# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Columba API
  description: Donate your wasted SMS for charity!
  version: "1.0.0"
# the domain of the service
host: www.columbasms.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/v1
produces:
  - application/json
paths:
  /campaigns:
    get:
      summary: Tutte le campagne
      description: |
        L'endpoint *campaigns* ritorna la lista di tutte le campagne disponibili,
        sia scadute che non.
      parameters:
        - name: user_id
          in: query
          description: id dell'utente secondo le cui preferenze si vogliono filtrare le campagne
          required: false
          type: integer
        - name: order_field
          in: query
          description: Il campo di ordinamento delle campagne
          required: false
          type: string
        - name: order_type
          in: query
          description: Il tipo di ordinamento che bisogna attuare. DEVE essere o *asc* o *desc*
          required: false
          enum: [asc, desc]
          type: string
        - name: limit
          in: query
          description: Il numero massimo di elementi che devono essere ritornati.
          required: false
          type: integer
        - name: offset
          in: query
          description: Da quale elemento nel database deve partire l'array
          required: false
          type: integer
      tags:
        - Campaigns
      responses:
        200:
          description: L'array di campagne
          schema:
            type: array
            items:
              $ref: '#/definitions/Campaign'
  /campaigns/{id}:
    get:
      summary: Singola campagna
      description: Ritorna una singola campagna
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id della campagna richiesta
      tags:
        - Campaigns
      responses:
        200:
          description: La campagna richiesta
          schema:
            $ref: '#/definitions/Campaign'
  /organizations:
    get:
      summary: Tutte le organizzazioni
      description: Ritorna tutte le organizzazioni con possibilità di filtraggio
      parameters:
        - name: order_field
          in: query
          description: Il campo di ordinamento delle organizzazioni
          required: false
          type: string
        - name: order_type
          in: query
          description: Il tipo di ordinamento che bisogna attuare. DEVE essere o *asc* o *desc*
          required: false
          enum: [asc, desc]
          type: string
        - name: limit
          in: query
          description: Il numero massimo di elementi che devono essere ritornati.
          required: false
          type: integer
        - name: offset
          in: query
          description: Da quale elemento nel database deve partire l'array
          required: false
          type: integer
      tags:
        - Organizations
      responses:
        200:
          description: Le organizzazioni richieste
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
  /organizations/{id}:
    get:
      summary: La singola organizzazione
      description: Ritorna una singola organizzazione
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'organizzazione richiesta
      tags:
        - Organizations
      responses:
        200:
          description: L'organizzazione richiesta
          schema:
            $ref: '#/definitions/Organization'
  /organizations/{id}/campaigns:
    get:
      summary: Tutte le campagne lanciate dall'organizzazione
      description: Ritorna tutte le campagne lanciate dall'organizzazione con id {id}
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'organizzazione richiesta
      tags:
        - Organizations
        - Campaigns
      responses:
        200:
          description: Le campagne dell'organizzazione
          schema:
            type: array
            items:
              $ref: '#/definitions/Campaign'
  /topics:
    get:
      summary: Tutti i topic
      description: Ritorna tutti i topic
      parameters:
        - name: order_field
          in: query
          description: Il campo di ordinamento delli topic
          required: false
          type: string
        - name: order_type
          in: query
          description: Il tipo di ordinamento che bisogna attuare. DEVE essere o *asc* o *desc*
          required: false
          enum: [asc, desc]
          type: string
        - name: limit
          in: query
          description: Il numero massimo di elementi che devono essere ritornati.
          required: false
          type: integer
        - name: offset
          in: query
          description: Da quale elemento nel database deve partire l'array
          required: false
          type: integer
      tags:
        - Topics
      responses:
        200:
          description: L'array di topic
          schema:
            type: array
            items:
              $ref: '#/definitions/Topic'
  /topics/{id}:
    get:
      summary: Il singolo topic
      description: Ritorna il singolo topic
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id del topic
      tags:
        - Topics
      responses:
        200:
          description: Il topic richiesto
          schema:
            $ref: '#/definitions/Topic'
  /topics/{id}/campaigns:
    get:
      summary: Tutte le campagne del topic
      description: Ritorna tutte le campagne del topic
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id del topic
      tags:
        - Topics
        - Campaigns
      responses:
        200:
          description: Le campagne del topic
          schema:
            type: array
            items:
              $ref: '#/definitions/Campaign'
  /topics/{id}/organizations:
    get:
      summary: Tutte le organizzazioni del topic
      description: Ritorna tutte le organizzazioni del topic
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id del topic
      tags:
        - Topics
        - Organizations
      responses:
        200:
          description: Le organizzazioni del topic
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
  /users:
    post:
      summary: Regitrazione utente
      description: Questo endpoint regitra l'utente alla piattaforma
      parameters:
        - name: X-Auth-Service-Provider
          in: header
          required: true
          type: string
          description: Il provider per performate l'autenticazione
        - name: X-Verify-Credential-Authorization
          in: header
          required: true
          type: string
          description: Le credenziali per l'autenticazione
        - name: gcm-token
          in: header
          required: true
          type: string
          description: Il token di registrazione per Google Cloud Messaging
      tags:
        - Users
      responses:
        200:
          description: L'utente è correttamente registrato alla piattaforma
          schema:
            $ref: '#/definitions/DigitsClient'
  /users/{id}:
    get:
      summary: Il singolo utente
      description: Ritorna il singolo utente
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
      tags:
        - Users
      responses:
        200:
          description: L'utente richiesto
          schema:
            $ref: '#/definitions/DigitsClient'
    put:
      summary: Aggiorna l'utente
      description: aggiorna i campi desiderati dell'utente e ritorna in output la rappresentazione aggiornata dell'utente
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
        - name: fields
          in: body
          required: true
          schema:
            type: object
            properties:
              digits_id:
                type: integer
                description: L'id generato da digits al momento della registrazione
              digits_token:
                type: string
                description: Il token generato da digits al momento della registrazione
              digits_secret:
                type: string
                description: Il token segreto generato da digits al momento della registrazione
              phone_number:
                type: string
                description: Il numero telefonico dell'utente associato a digits
              gcm_token:
                type: string
                description: Il token generato da GCM
              user_name:
                type: string
                description: username
          description: Oggetto Json contenente i campi da modificare
         
      tags:
        - Users
      responses:
        200:
          description: L'utente aggiornato
          schema:
            $ref: '#/definitions/DigitsClient'
  /users/{id}/images:
    post:
      summary: Upload user images
      description: Upload the new avatar and/or cover of the user
      parameters: 
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
        - name: profile_image
          in: query
          required: false
          type: string
          description: new avatar image encoded as Base64 String
        - name: cover_image
          in: query
          required: false
          type: string
          description: new cover image encoded as Base64 String
      tags:
        - Users
      responses:
        200:
          description: L'utente aggiornato
          schema:
            $ref: '#/definitions/DigitsClient'
      
  /users/{id}/organizations:
    get:
      summary: Tutte le organizzazioni seguite dall'utente 
      description: Ritorna tutte la organizzazioni seguite dall'utente
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
      tags:
        - Users
        - Organizations
      responses:
        200:
          description: Organizzazioni
          schema:
            type: array
            items:
              $ref: "#/definitions/Organization"
  /users/{id}/organizations/{organization_id}:
    get:
      summary: relazione user organizzazione
      description: Ritorna tutti i dati utili dell'organizzazione con l'aggiunta dello stato della relazione tra i due enti
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
        - name: organization_id
          in: path
          required: true
          type: integer
          description: L'id dell'organizzazione
      tags:
        - Users
        - Organizations
      responses:
        200:
          description: info organizzazione
          schema:
            type: object
            properties:
              organization_name:
                type: string
                description: Il nome dell'organizzazione.
              avatar_normal:
                type: string
                description: Il link dell'immagine di profilo dell'organizzazione
              cover_normal:
                type: string
                description: Il link dell'immagine di copertina dell'organizzazione
              description:
                type: string
                description: Una breve descrizione dell'organizzazione, dei suoi scopi e delle sue iniziative
              follower:
                type: integer
                description: numero di follower
              following:
                type: boolean
                description: se l'utente segue l'organizzazione o no
              trusting:
                type: boolean
                description: se l'utente ha fatto il trust sull'organizzazione
          
    put:
      summary: follow organization
      description: Interpola la relazione FOLLOW/UNFOLLOW tra l'utente {id} e l'organizzazione {organization_id}. Ritorna tutte le organizzazioni seguite dall'utente. Se presente il parametro ?trusted permette di impostare il TRUST sull'organizzazione seguita. Fare UNFOLLOW implica levare il TRUST
      parameters: 
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
        - name: organization_id
          in: path
          required: true
          type: integer
          description: L'id dell'organizzazione
        - name: trusted
          in: query
          type: boolean
          default: false 
          description: trust dell'organizzazione
      tags:
        - Users
        - Organizations
      responses:
        200:
          description: Organizzazioni seguite
          schema:
            type: array
            items:
              $ref: "#/definitions/Organization"  
  /users/{id}/topics:
    get:
      summary: Users Topics
      description: Restituisce tutti i topic attivi indicando se l'user li segue o meno 
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
      tags:
        - Users
        - Topics
      responses:
        200:
          description: Topics
          schema:
            type: array
            items:
              $ref: "#/definitions/Topic"
  /users/{id}/topics/{topic_id}:
    get:
      summary: relazione user topic
      description: restituisce true se l'utente segua il topic, false altrimenti
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
        - name: topic_id
          in: path
          required: true
          type: integer
          description: L'id del topic
      tags:
        - Users
        - Topics
      responses:
        200:
          description: Following?
          schema:
            type: object
            properties:
              following: 
                type: boolean
                
    put:
      summary: follow topic
      description: Interpola la relazione FOLLOW/UNFOLLOW tra l'utente {id} e il topic {topic_id}. Ritorna tutti i topic seguiti dall'utente
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
        - name: topic_id
          in: path
          required: true
          type: integer
          description: L'id del topic
      tags:
        - Users
        - Topics
      responses:
        200:
          description: Topics
          schema:
            type: array
            items:
              $ref: "#/definitions/Topic"
      
  /users/{id}/campaigns:
    get:
      summary: Tutte le campagne reindirizzate dall'utente
      description: Ritorna tutte le campagne che l'utente ha reindirizzato
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L'id dell'utente
      tags:
        - Users
        - Campaigns
      responses:
        200:
          description: Le campagne dell'utente
          schema:
            type: array
            items:
              $ref: '#/definitions/Campaign'
  /users/{id}/campaigns/{campaign_id}:
    post:
      summary: Lancia campagna
      description: Data una lista di numeri, ritorna quelli a cui l'utente {id} può lanciare la campagna {campaign_id}.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: L\'id dell\'utente
        - name: campaign_id
          in: path
          required: true
          type: integer
          description: L\'id della campagna
        - name: receivers numbers
          in: body
          required: true
          schema:
            type: object 
            properties:
              users:
                type: array
                items:
                  type: string
          description: Lista numeri dei riceventi della campagna
      tags:
        - Users
        - Campaigns  
      responses:
        200:
          description: indici numeri a cui reinviare la campagna
          schema:
            type: object 
            properties:
              users:
                type: array
                items:
                  type: string
                
    
definitions:
  Campaign:
    type: object
    properties:
      id:
        type: integer
        description: L'id della campagna.
      message:
        type: string
        description: Il messaggio che andrà inviato per SMS.
      organization:
        $ref: '#/definitions/Organization'
      topics:
        type: array
        description: I topic a cui è associata la campagna.
        items:
          $ref: '#/definitions/Topic' 
  Organization:
    type: object
    properties:
      id:
        type: integer
        description: L'id dell'organizzazione.
      organization_name:
        type: string
        description: Il nome dell'organizzazione.
      avatar_normal:
        type: string
        description: Il link dell'immagine di profilo dell'organizzazione
      cover_normal:
        type: string
        description: Il link dell'immagine di copertina dell'organizzazione
      description:
        type: string
        description: Una breve descrizione dell'organizzazione, dei suoi scopi e delle sue iniziative
  Topic:
    type: object
    properties:
      id:
        type: integer
        description: L'id del topic
      name:
        type: string
        description: Il nome del topic
      main_color:
        type: string
        description: main color
      status_color:
        type: string
        description: status color
  DigitsClient:
    type: object
    properties:
      id:
        type: integer
        description: L'id dell'utente
      digits_id:
        type: integer
        description: L'id generato da digits al momento della registrazione
      digits_token:
        type: string
        description: Il token generato da digits al momento della registrazione
  
